{% extends 'base.html.twig' %}

{% block title %}Votre profils{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div>
    {# page header #}
    <div>
        <h1 class="">Vous etes sur votre profil</h1>
        <p class="">Dans cette section vous pouvez retrouver vous différant entreprise et leurs pages vitrine associer</p>
    </div>
    {# Page body #}
    <div>
        {# ajouté une compagny #}
        <div>


        </div>
    </div>
</div>
{% endblock %}
