{% extends 'base.html.twig' %}

{% block title %}Votre profils{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div>
    {# page header #}
    <div>
        <h1 class="">Vous etes sur votre profil</h1>
        <p class="">Dans cette section vous pouvez retrouver vous différant entreprise et leurs pages vitrine associer</p>
    </div>
    {# Page body #}
    <div>
        {# ajouté une compagny #}
        <div>
            <h3>Consulter, creer ou editer vos fiche entreprise </h3>
            <buttom class='cursor-pointer bg-blue-300 hover:bg-blue-400 text-slate-100 font-bold py-2 px-4 rounded inline-flex items-center'>
                <a href="{{ path('app_company_index')  }}">consulter</a>     
                {# <a href="{{ path('app_company_index', {'id': company.id})  }}">consulter</a>              #}
        
             </buttom>
        </div>
                {# ajouté une showCase / sucursalle ou boutique #}
        <div>
            <h3>Consulter, creer ou editer vos vitrine</h3>
            <buttom> look at</buttom>

        </div>
    </div>
</div>
{% endblock %}
