{% extends 'base.html.twig' %}

{% block title %}New ShowCase{% endblock %}

{% block body %}
    <div class=" py-6 mt-6 px-12">
        <h1 class=" text-2xl font-semibold whitespace-nowrap dark:text-white text-center px-0">Creer une fiche vitrine</h1>
    </div>

    {{ include('show_case/_form.html.twig') }}

    {# <a href="{{ path('app_show_case_index') }}">back to list</a> #}
{% endblock %}
