{% extends 'base.html.twig' %}

{% block title %}A propos de nous!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Pourquoi </h1>

    <p>Clobal Market est une platforme communotaire qui contribue a la mise en relation des particulier avec des commercent</p>
    
    <h2>Comment ca marche ?</h2>
    <p>Quiconque peut venire et consulter librement les fiche vitrine, sans connection</p>
    <p>Les fiche vitrine sont creer par les utilisateur ayant creer un compte</p>
    <p>Les utilisateur peuvent abotenir une certification si leur contribution sont corect</p>
    <p>Cette certification s'affichera sur tout leur publication au yeux de tous</p>
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/laragon/www/GMdeux/src/Controller/AboutController.php'|file_link(0) }}">src/Controller/AboutController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/laragon/www/GMdeux/templates/about/index.html.twig'|file_link(0) }}">templates/about/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
