.label_register_size {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.lable_company_size{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
body{
    background-image: url(../style/bg\ IMG\ rue.png);
    background-attachment: fixed;
    /* object-fit: cover; */
    background-size: cover;
}