.label_register_size {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.lable_company_size{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
body{
    background-image: url(../../image/bg\ IMG\ rue.png);
    background-attachment: fixed;
    /* object-fit: cover; */
    background-size: cover;
    min-height: auto;
}
.d-none{
    display: none;
}
footer{
    position: absolute;
    margin-bottom: 0px;
    width: 100%;

}
.textarea_show_case{
    width: 100%;
    height: 126px;
}
.Image-Size{
    height: 250px;
    width: 250px;
    object-fit: cover;
}
.image_size_show{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.block_image{
    max-height: 520px;
    min-height: 520px;
}
